name: CI CD

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - id: "auth"
        uses: google-github-actions/auth@v0
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: "upload directory"
        uses: actions/upload-artifact@v3
        with:
          name: my-artifact
          path: /*.py

      - name: "upload-folder"
        uses: "google-github-actions/upload-cloud-storage@v1"
        with:
          path: "/*"
          destination: "cf-cloud-composer-dags"
