name: CI CD

on:
  push:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - id: "auth"
        uses: "google-github-actions/auth@v0"
        with:
          credentials_json: ${{secrets.GCP_SA_KEY}}

      - name: "upload-folder"
        uses: "google-github-actions/upload-cloud-storage@v1"
        with:
          path: "/dags"
          destination: "cf-cloud-composer-dags"
